<ion-view view-title="Inicio">
  <ion-content class="stable-bg">
    <ion-refresher on-refresh="getProfile()"></ion-refresher>
    <div class="padding text-center" ng-if="profile == null">
      <ion-spinner></ion-spinner>
    </div>
    <div ng-if="profile">
      <div class="text-center padding-top">
        <img class="padding-top" src="img/avatar-placeholder.svg">
        <div><strong>{{profile.nombre}}</strong></div>
        <p class="royal">{{profile.rut}}</p>
      </div>
      <div class="card">
        <div class="item item-icon-left item-text-wrap text-right">
          <h2 class="positive">
            <strong>{{profile.saldo_total_cuentas | currency:$:0}}</strong>
          </h2>
          <i class="icon icon-lg ion-android-list positive"></i>
          <p class="royal">Saldo en cuentas</p>
        </div>
      </div>
      <div class="card">
        <div class="item item-icon-left item-text-wrap text-right">
          <h2 class="positive">
            <strong>{{profile.saldo_total_tarjetas_de_credito | currency:$:0}}</strong>
          </h2>
          <i class="icon icon-lg ion-card positive"></i>
          <p class="royal">Saldo en tarjetas de crédito</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
