<ion-view view-title="Tarjetas">
  <ion-content class="stable-bg">
    <!--
    <ion-refresher on-refresh="getCuentas()"></ion-refresher>
    <div class="card" ng-repeat="cuenta in cuentas" ng-if="cuentas">
      <div class="text-center padding" ng-if="!cuentas">
        <ion-spinner></ion-spinner>
      </div>
      <ion-list>
        <ion-item class="item-icon-right" href="#/app/tab/tarjeta/{{cuenta.numero}}">
          <span class="item-note">Nro. {{cuenta.numero}}</span>
          <h2>{{cuenta.tipo}}</h2>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
        <ion-item>
          <span class="item-note balanced">{{cuenta.cupo | currency:$:0}}</span>
          <p ng-if="cuenta.cupo">Cupo</p>
          <span class="item-note positive">{{cuenta.saldo | currency:$:0}}</span>
          <p ng-if="cuenta.saldo">Saldo</p>
        </ion-item>
      </ion-list>
    </div>
    -->
    <div class="padding text-center">
      <h1 class="icon ion-card positive" style="font-size: 200px;"></h1>
      <p class="royal">En desarrollo</p>
    </div>
  </ion-content>
</ion-view>
