<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-light tabs-color-active-positive">

  <!-- Inicio Tab -->
  <ion-tab title="Inicio" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/app/tab/inicio">
    <ion-nav-view name="tab-inicio"></ion-nav-view>
  </ion-tab>

  <!-- Transferencias Tab -->
  <ion-tab title="Transferencias" icon-off="ion-arrow-swap" icon-on="ion-arrow-swap" href="#/app/tab/movimientos">
    <ion-nav-view name="tab-movimientos"></ion-nav-view>
  </ion-tab>

</ion-tabs>
